<div>
<h1>Bienvenido a la App de Rick and Morty</h1>

<p>
    *Rick and Morty* es una serie de televisión de ciencia ficción y comedia creada por Justin Roiland y Dan Harmon. La serie sigue las aventuras de un científico loco llamado Rick y su nieto Morty, quienes viajan a través de universos alternativos y enfrentan situaciones absurdas y peligrosas.
    A lo largo de las temporadas, *Rick and Morty* explora temas profundos sobre la vida, la existencia y la moralidad, todo mientras mantiene un tono de humor oscuro y surrealista.
  </p>
<h2>Explora personajes y conectate con nosotros a través de nuestro formulario.</h2>
</div>